.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

  background-color: rgb(248, 248, 248);
}

.profileBackground {
  display: block;
  position: relative;
  width: 100vw;
  height: 750px;
  overflow: hidden;
  margin-top: -350px;
}

.profileBackground > img {
  width: 100%;
}

.avatar {
  margin-top: 10px;
  object-fit: cover;

  width: 12em;
  height: 12em;
  border: 0.13rem solid black;
  border-radius: 50%;
  background-color: white;
}

.profilePosts {
  display: flex;
  flex-direction: column;
}

.topicEditDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  margin: 0.25em;
}

::-webkit-file-upload-button {
  background: #47db00;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;

  padding: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-bottom: 25px;
}

.upload-pic-btn {
  border: 1px solid #ccc;

  padding: 13px 13px;
  font-size: 15px;
  cursor: pointer;
  background-color: #47db00;
}

.custom-file-upload:hover {
  transition: 0.15s;
  opacity: 0.8;
}

.upload-pic-btn:hover {
  transition: 0.15s;
  opacity: 0.8;
}

.upload-pic-btn:active {
  background-color: rgb(9, 111, 9);
  color: white;
}

.swal-button {
  padding: 13px 13px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #47db00;
  letter-spacing: 3px;
}

.swal-modal {
  width: 600px;
  border-radius: 0;
  border: 2px solid #000;
  box-shadow: 24;
}

.swal-input {
  border: none;
  border-color: #000;

  text-align: center;
}

.swal-content__input {
  font-size: 14px;
}

.swal-content__input:focus {
  border-color: #47db00;
}
.swal-button:not([disabled]):hover {
  background-color: #47db00;
}

.swal-button--cancel {
  color: #efefef;
  background-color: grey !important;
}

.swal-button--cancel:hover {
  color: #efefef;
  background-color: grey !important;
}

.swal-button--danger {
  background-color: #e64942;
}

.swal-button--danger:not([disabled]):hover {
  background-color: #e64942;
}
